button {
    background-color: var(--blue-colour);
    border: none;
    padding: .25rem;
    margin-bottom: 1rem;
}

.card {

    .cardTop {

        p {
            margin: .25rem 0;
        }
    }

    .cardBottom {

        h2 {
            margin-top: 1.5rem;
        }

        ul {

            li {
                margin: 1.5rem 0;

                p{
                    margin: .25rem 0;

                    span {
                        margin-right: .25rem;
                    }
                }
            }
        }
    }
}

.stellinaPienaVuota svg path {
    fill: var(--blue-colour) !important;
}