button {
    background-color: var(--blue-colour);
    border: none;
    padding: .25rem;
    margin-bottom: 1rem;
}

.cardBottom {

    h2 {
        margin-top: 1.5rem;
    }

    ul {

        li {
            margin: 1.5rem 0;
        }
    }
}