/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Molengo', sans-serif;
    color: var(--dark-colour);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --pearl-colour: #E7DFC6;
    --blue-colour: #4A6F8C;
    --moss-colour: #556D36;
    --dark-colour: #131112;
}

.button {
    background-color: var(--blue-colour);
    border: none;
    padding: .25rem;
    margin-bottom: 1rem;
}

.stellinaPienaVuota svg path {
    fill: var(--blue-colour) !important;
}

/* #endregion common */

/* #region header */
header {
    padding: 1rem;
    background-color: var(--moss-colour);

    nav {
        display: flex;
        justify-content: flex-end;

        a {
            padding: 0 1rem;
            color: var(--pearl-colour);
        }
    }
}

/* #endregion header */

/* #region main */
main {
    min-height: 90vh;
    padding: 2rem 0;
    background-color: var(--pearl-colour);

    .container {
        width: 90%;
        margin: auto;

        h1 {
            margin-bottom: 2rem;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;

            a {
                width: calc(100% / 4);
                text-decoration: none;

                .card {
                    padding: 1rem;
                    background-color: var(--blue-colour);

                    p {
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}

/* #endregion main */

/* #region footer */
footer {
    background-color: var(--moss-colour);
    padding: 1rem;

    p {
        text-align: center;
        color: var(--pearl-colour);
    }
}

/* #endregion footer */